.mobile-bg {
  background-image: url('./assets/home3.jpeg');
  background-position: center;
  background-size: cover;
}

/* Custom background for desktop view */
@media (min-width: 640px) {
  .desktop-bg {
    background-image: url('/path/to/desktop-background.jpg');
    background-position: center;
    background-size: cover;
  }
}

.name{
  font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', 'serif';
}
.name2{
  font-family:cursive;
  color: #92666d;
}
.name3{
  
  color: #f9f8f7fc;
  background-color: rgba(96, 91, 146, 0.243);
}

/* Safari specific styles */
@supports (-webkit-touch-callout: none) {
  .webcam-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
